name: Build Solana Program

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

env:
  SOLANA_CLI_VERSION: 1.18.26
  ANCHOR_VERSION: 0.30.1

jobs:
  build-program:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build with Docker
        run: |
          docker run --rm \
            -v $(pwd):/workdir \
            -w /workdir \
            backpackapp/build:v0.30.1 \
            bash -c "rustc --version && rustup toolchain install 1.78.0 && rustup default 1.78.0 && rustc --version && anchor build && chown -R $(id -u):$(id -g) target"

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: program-artifacts
          path: |
            target/deploy/*.so
            target/deploy/*-keypair.json
            target/idl/
            target/types/
